body div#line {
    background-color: #0d1f35;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: baseline;
    padding: 2% 16% 2% 5%;
}

div#line div {
    color: white;
    font-size: 15px;
    text-transform: uppercase;
    padding-bottom: 4px;
}

.selected {
    border-bottom: 3px solid #d30505;
}

@media only screen and (max-width:650px) {
    body div#line {
        flex-direction: column;
        align-items: center;
        padding: 2% 5% 3% 5%;
    }
    div#line div {
        margin-bottom: 4px;
    }
}