* {
    margin: 0px;
    padding: 0px;
    font-family: 'Lato', sans-serif;
}

header {
    background-color: rgb(250, 101, 1);
}

body {
    overflow-x: hidden;
}

* a {
    text-decoration: none;
    color: inherit;
    cursor: pointer;
}

* a:hover {
    color: rgb(92, 184, 236);
    transition: 0.1s ease-in-out;
}

body div#fourth {
    padding-top: 40px;
    color: white;
    text-align: center;
}

body div#fourth h3 {
    font-weight: normal;
}

#button {
    display: block;
    margin: auto;
    padding: 15px;
    border-radius: 5px;
    border-color: white;
    border: none;
    cursor: pointer;
}

button#button {
    margin-top: 20px;
}

div.buton h3 span {
    color: rgb(250, 101, 1);
}

body div#line {
    background-color: #0d1f35;
    font-size: 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: baseline;
    padding: 2% 16% 2% 5%;
}

div#line div {
    color: white;
    font-size: 15px;
    text-transform: uppercase;
}

div#box {
    background-color: rgb(250, 101, 1);
    /* height: 300px; */
    padding-bottom: 25px;
}

div#box h1 {
    text-align: center;
    color: white;
    padding: 30px;
    letter-spacing: 0.5px;
}

div#box p {
    text-align: center;
    padding: 10px;
    width: 62%;
    font-weight: 400;
    font-size: 1.3em;
    margin: auto;
}

div#box div#click {
    margin: auto;
}

div#box button {
    border-style: solid;
    border-width: 4px;
    border-radius: 4px;
    border-color: white;
    padding: 10px;
    background-color: rgb(250, 101, 1);
    font-size: 20px;
    text-align: center;
    display: block;
    margin: auto;
    margin-top: 20px;
    color: white;
    font-weight: bold;
    cursor: pointer;
}

div#title {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    color: rgb(250, 101, 1);
    padding: 5% 20% 2% 20%;
    cursor: pointer;
}

@media only screen and (max-width:980px) {
    div#title {
        flex-direction: column;
        font-size: 20px;
    }
}

@media only screen and (max-width:650px) {
    div#title {
        flex-direction: column;
        font-size: 14px;
    }
}

div.text {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 70%;
    margin: 5% auto;
}

div.text img {
    width: 400px;
    height: auto;
}

div.text div div {
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    margin: 4% auto;
    padding-right: 14px;
}

div.text div div h2 {
    width: 100%;
    margin: 1% 3%;
}

div.text span.check {
    background-color: rgb(250, 101, 1);
    color: white;
    border-radius: 20px;
    padding: 5px;
    margin-right: 10px;
}

div.text p {
    margin-left: 12%;
    font-weight: 400;
    font-size: 0.8em;
    line-height: 2em;
    width: 80%;
}

@media only screen and (max-width:980px) {
    div.text {
        flex-direction: column;
    }
    div.text img {
        width: 500px;
        height: auto;
    }
}

@media only screen and (max-width:525px) {
    div.text {
        flex-direction: column;
        font-size: 80%;
    }
    div.text p {
        margin-left: 15%;
    }
    div.text img {
        width: 300px;
        height: auto;
    }
}

div#features {
    background-color: rgb(30, 51, 78);
    padding: 5% 10%;
    text-align: center;
}

div#features div#diff {
    margin: 5% 2% 2% 2%;
}

div#features div#diff div.row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    text-align: left;
}

div#features div#diff div.row div.detail {
    background-color: white;
    margin: 2%;
    padding: 3%;
    border-radius: 5px;
    font-weight: lighter;
    font-size: 0.8em;
}

div#features div#diff div.row div.detail p {
    font-weight: 500;
    line-height: 1.9em;
}

div#features div#diff div.row div.detail h3,
div#features h1 {
    color: rgb(250, 101, 1);
    text-transform: uppercase;
    padding-bottom: 4%;
    font-weight: bold;
}

div#features h2 {
    font-weight: 500;
    font-size: 1em;
}

@media only screen and (max-width:735px) {
    div#features div#diff div.row {
        flex-direction: column;
    }
}

div#icons {
    align-items: center;
    background-color: rgb(255, 255, 255);
}

div#icons p {
    font-size: 200%;
    text-align: center;
    color: rgb(250, 101, 1);
    padding-top: 7%;
    font-weight: bolder;
}

div#icons img {
    padding: 5%;
    margin-left: 10%;
}

div#last {
    background-color: rgb(233, 251, 253);
}

div#last div#head {
    text-align: center;
    padding-top: 5%;
}

div#last div#head p {
    font-style: italic;
    font-size: 25px;
    color: rgb(250, 101, 1);
}

div#last div#head p span {
    font-style: normal;
    text-transform: capitalize;
    font-size: 30px;
    font-weight: bold;
}

div#last div#free {
    text-align: center;
}

div#last div#free button {
    text-transform: uppercase;
    font-weight: bolder;
    font-size: 20px;
    padding: 1%;
    margin: 3%;
    border-radius: 5px;
    color: white;
    letter-spacing: 1px;
    background-color: rgb(250, 101, 1);
    border-style: none;
    cursor: pointer;
}

div#last div#tree {
    text-align: center;
}

div#last div#tree img {
    height: 350px;
    width: 300px;
}

div#container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    padding: 3%;
}

div#container img {
    width: 40%;
    padding: 6%;
}

div#container div#demo {
    padding: 1% 5% 1% 5%;
}

div#container div#demo h3 {
    font-weight: bold;
    padding-bottom: 3%;
    text-transform: capitalize;
    font-size: 30px;
    color: rgb(250, 101, 1);
}

div#container div#demo p {
    font-size: 13px;
    letter-spacing: 1px;
    line-height: 38px;
}

div#container div#demo p#grey {
    padding-bottom: 7%;
    font-size: 15px;
    color: rgb(224, 224, 224);
    font-weight: bold;
    letter-spacing: 1px;
}

div#container div#demo button {
    background-color: rgb(250, 101, 1);
    color: white;
    padding: 4%;
    font-size: 20px;
    font-weight: 600;
    text-transform: uppercase;
    margin: 5% 2%;
    border-radius: 7px;
    border-style: none;
}

@media only screen and (max-width: 820px) {
    div#container {
        flex-direction: column;
        font-size: 30px;
    }
    div#container img {
        width: 400px;
        height: auto;
        padding: 2%;
    }
    div#container div#demo button {
        padding: 2%;
    }
}

@media only screen and (max-width: 360px) {
    div#container img {
        width: 335px;
        height: auto;
    }
}

div#face {
    background-color: rgb(233, 251, 253);
    padding: 5%;
    display: flex;
    justify-content: center;
}

div#face div#ceo {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    background-color: white;
    margin-left: 5%;
    border-radius: 3px;
    border-style: solid;
    border-color: rgb(250, 101, 1);
}

div#face div#ceo div#exp {
    /* margin-bottom: 30px; */
    margin: 30px 15px;
}

div#face div#ceo div#exp p {
    text-align: left;
    letter-spacing: 1px;
    line-height: 34px;
    padding: 3% 5% 3% 7%;
}

div#face div#ceo div#exp h3 {
    color: #fb8a3f;
    text-transform: uppercase;
    margin: 2%;
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
}

div#face div#ceo img {
    height: 200px;
    width: 200px;
    padding-right: 70px;
}

div#face div#colon {
    border: 2px outset white;
    color: rgb(250, 101, 1);
    font-size: 1000%;
    height: 110px;
    font-family: 'Lato', sans-serif;
}

div#exp h3 span {
    display: inline-block;
    background-color: rgb(255, 101, 1);
    width: 80px;
    height: 5px;
    margin-right: 20px;
    transform: translateX(-5%);
}

@media only screen and (max-width: 700px) {
    div#face div#ceo div#exp p {
        letter-spacing: 1px;
        line-height: 25px;
        padding: 3% 5% 3% 7%;
    }
    div#exp h3 span {
        width: 50px;
        margin-right: 10px;
        height: 3px;
    }
}

@media only screen and (max-width: 600px) {
    div#face div#ceo div#exp p {
        letter-spacing: 0px;
        line-height: 15px;
        font-size: 15px;
    }
    div#face div#ceo img {
        height: 150px;
        width: 150px;
        padding-right: 50px;
    }
    div#face div#colon {
        border: 2px outset white;
        color: rgb(250, 101, 1);
        font-size: 700%;
        height: 90px;
    }
}

@media only screen and (max-width: 500px) {
    div#face div#ceo img {
        height: 100px;
        width: 100px;
        padding-right: 10px;
    }
    div#face div#colon {
        border: 2px outset white;
        color: rgb(250, 101, 1);
        font-size: 500%;
        height: 80px;
    }
}

.fade-in {
    opacity: 0;
    transition: opacity 450ms ease-in;
}

.fade-in.appear {
    opacity: 1;
}

.left {
    transform: translateX(-50%);
}

.right {
    transform: translateX(50%);
}

.left,
.right {
    transition: opacity 250ms ease-in, transform 400ms ease-in;
    opacity: 0;
}

.left.appear,
.right.appear {
    transform: translateX(0);
    opacity: 1;
}